:root{
    --primary-color: #FA804C;
    --btn-color: #3847D1;
}
/*Opensans Font by Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.hbtn {
    background-color: var(--btn-color);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.btn {
    background-color: var(--btn-color);
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color);
}
.hbtn:hover{
    background-color: var(--primary-color);
}
.btn-group {
    flex-wrap: wrap;
    gap: 20px;
}
a{
    text-decoration: none;
}
.card-footer, .flex{
    display: flex;
    align-items: center;
}

/* main style  */

header {
    background-color: #FFF8F3;
    padding: 25px 0;
}
.logo img{
    width: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

nav .menu a {
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}
li a:hover{
    color: var(--primary-color);
}
.li:hover{
    transform: scale(1.2);
}
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F4;
    height: 85vh;
}
.banner-image:hover {
    transition: 10s;
    transform: scale(1.2) rotateZ(5deg);
}
#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #302f2f;
    margin-bottom: 5px;
}

#banner .banner-content .htc {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #363636;
    line-height: 30px;
    margin-bottom: 30px;
}
.causal{
    width: 80%;
}
.causal h2{
    font-size: 40px;
    margin: 20px 0;
}
.casual-shoe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
}
.cards{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #d1d1d1;
}
.card-items img{
width: 100%;
background-color: #F1F1F1;
border-radius: 10px;
}
.card-footer{
    padding-bottom: 10px;
}
.card-text{
    color: var(--primary-color);
}
.services{
    width: 80%;
    gap: 20px;
}
.servicesl{
    width: 100%;
}
.sil{
    margin: 10px;
}
.sir{
    margin: 10px;
}
.sil img{
    width: 100%;
}
.sir h3{
    font-size: 30px;
}
.servicesr img{
    width: 100%;
}
.servies-item{
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px #d1d1d1;
    margin: 25px 0;
}
#footer{
      color: white;    
      background-color: #3847D1; 
      padding: 10px 0;
}
.fflex{
    padding-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.flogo{
    width: 40%;
}
footer h4{
    font-size: 20px;
    margin-bottom: 20px;
}
footer img{
    width: 80%;
}
.fmenu li{
    list-style: none;
}
.flogo .icon i{
    margin: 10px;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 85%;
}
.copyright{
    text-align: center;
}
/* device specific media query  (TABLET)*/
@media screen and (min-width:577px) and (max-width:850px) {

    #banner {
        flex-direction: column;
        gap: 20PX;
    }

    .casual-shoe{
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width:576px) {
    .container {
        width: 95%;

    }

    header {
        background-position: bottom right;
        background-repeat: no-repeat;

    }

    nav {
        /* gap: 10px; */
        flex-direction: column;
    }

    nav .menu {
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        flex-direction: column;
    }

    #banner {
        flex-direction: column;
        /* flex-direction: column-reverse; */
        gap: 20px;
        text-align: center;
    }

    #banner .banner-image img {
        width: 100%;
    }
    .casual-shoe{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
}